body {
    background-color: white;
    font-family: 'Inconsolata', monospace;
}

/* jumbotron with image and introduction at the top of each page */
.jumbotron {
    margin-top: auto;
    background-image: url("https://www.channelfutures.com/files/2019/12/4-Clouds-Blue-Sky.jpg");
    background-size: cover;
    font-weight: bolder;
    text-align: center; 
    
}

/* navbar */
.nav {
    margin: auto;
}

a { 
    color: white;
    
}

a:hover { 
    color: rgb(21, 189, 211);
}

.container {
    padding: 30px 30px;
}

/* portfolio cards */

.portfolio-title {
    text-align: center;
}

.btn-dark:hover {
    color: rgb(21, 189, 211);
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

/* bio image */
img {
     max-width: 50%;
     margin: auto;
     float: left;
     padding: 10px;

}

/* contact form */
form { 
    width: 100%;
    height: auto;
    margin: auto;
}

/* footer and social media icons */
.footer {
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(233, 237, 240, 0.979);
    color: black;
    text-align: center;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
.fa:hover {
      opacity: 0.8;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background-color: burlywood;
    color: black;
}

/* media queries for jumbotron header and bio header */
@media screen and (max-width: 600px) {
    h1 {font-size: x-large;
}
    h2 {text-align: center;
}
    img {float: none;
         max-width: 100%;
}
  
}
